.hero {
    .hero-flex {
        display: flex;
        align-items: center;
        background-color: #1E1C1D;
        color: white;
        text-align: center;
        padding: 0 20px !important;
        // margin-top: 90px;
        height: 75vh;
        left: 0;
        top: 0;
        width: 100%;

        .hero-logo {
            margin-bottom: 40px;

            img {
                max-width: 300px;
            }
        }

        .hero-content {
            max-width: 1200px;
            width: 100%;

            .hero-title {
                font-size: 60px;
                font-weight: bold;
                margin: 0;
                letter-spacing: 3px;
            }

            .hero-subtitle {
                font-size: 24px;
                margin-top: 20px !important;
                font-weight: 300;
              
            }
        }
    }
}
.pain-points {
  background-color: #f7f7f7;
  padding: 50px 25px;

  .container {
    width: 100%;
    margin: 0 auto;
  }

  .pain-up {
    text-align: center;
    margin-bottom: 30px;

    h2 {
      font-size: 36px;
      font-weight: bold;
      color: #2E6CDB;
    }

    span {
      color: rgb(233, 47, 47); /* "çətinliklər" hissəsi üçün rəng */
    }
  }

  .pain-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px; /* Kartlar arasında məsafə */
  }

  .pain-card {
    background-color: white;
    padding: 20px;
    margin: 10px;
    width: 220px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    &:hover {
      transform: scale(1.05); /* Hover effekti */
    }

    .pain-icon {
      font-size: 40px;
      color: red; /* İkonlar üçün rəng */
      margin-bottom: 15px;
      border: 4px solid red;
      border-radius: 20px;
      padding: 4px;
    }

    p {
      font-size: 24px;
      font-weight: 500;
      color: red;

    }
    span{
        margin-top: 10px !important;
        display: block;
        font-size: 17px;
    }
  }
}

.solutions {
  background-color: #1E1C1D;
  padding: 50px 0;

  .container {
    width: 90%;
    margin: 0 auto;
  }

  .solutions-up {
    text-align: center;
    margin-bottom: 30px;

    h2 {
      font-size: 36px;
      font-weight: bold;
      color: #4caf50;
    }
  }

  .solutions-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px; /* Kartlar arasında məsafə */
  }

  .solutions-card {
    background-color: #ffffff;
    padding: 20px;
    margin: 10px;
    width: 220px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    
    &:hover {
      transform: scale(1.05); /* Hover effekti */
    }

    .solutions-icon {
      font-size: 40px;
      color: #4caf50; /* İkonlar üçün rəng */
      margin-bottom: 15px;
    }

   p {
      font-size: 24px;
      font-weight: 500;
      color: #4caf50;

    }
    span{
        margin-top: 10px !important;
        display: block;
        font-size: 17px;
    }
  }
}
