.container {
    margin: 0 auto !important;
    padding: 0 !important;
    box-sizing: border-box !important;
    width: 1144px !important;
    max-width: 100% !important;

}

body {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
    background-color: #1E1C1D;
}

p {
    margin: 0 !important;
    font-size: 40px;
    padding: 0 !important;
}

* {
    text-decoration: none !important;
    list-style: none !important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;

}